<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2fb0f505-305f-4ade-91be-435b04bc56b1/resourcegroups/SystemInventory20230827233425ResourceGroup/providers/Microsoft.Web/sites/SystemInventory20230827233425</ResourceId>
    <ResourceGroup>SystemInventory20230827233425ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2fb0f505-305f-4ade-91be-435b04bc56b1/resourceGroups/SystemInventory20230827233425ResourceGroup/providers/Microsoft.ApiManagement/service/SystemInventoryapi/apis/SystemInventory</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://systeminventory20230827233425.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b18f0a2a-19f2-4954-b7ea-9b84657c21c4</ProjectGuid>
    <MSDeployServiceURL>systeminventory20230827233425.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SystemInventory20230827233425</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SystemInventory20230827233425</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>