<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/2fb0f505-305f-4ade-91be-435b04bc56b1/resourceGroups/SystemInventory20230827233425ResourceGroup/providers/Microsoft.ApiManagement/service/SystemInventoryapi/apis/SystemInventory</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/2fb0f505-305f-4ade-91be-435b04bc56b1/resourcegroups/Prueba/providers/Microsoft.Web/sites/SystemInventory20230828000130</ResourceId>
    <ResourceGroup>Prueba</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://systeminventory20230828000130.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b18f0a2a-19f2-4954-b7ea-9b84657c21c4</ProjectGuid>
    <PublishUrl>https://systeminventory20230828000130.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SystemInventory20230828000130</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>